@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$color-cam: #fc846b;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$font-playfair: "Playfair Display", serif;
$font-playfair-noSan: "Playfair Display";
$font-pop: "Poppins", sans-serif;
$font-pop-noSan: "Poppins";
$font-roboto: "Roboto", sans-serif;
$font-playupdate: "Playfair Display SC", serif;
$font-monserat : 'Montserrat', sans-serif;
* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
a.active-nav{
    color: $color-cam !important;
    border-bottom: 1px solid #f87a61;
}
hr {
    width: 100%;
    border: 1px solid #dfdede;
    background-color: #dfdede;
}
body {
    position: relative;
    font-family: $font-pop-noSan;
}
html{
    font-size: 62.5%;
}

/* Begin Wrapper*/
.wrapper {
    width: 100%;
    height: 800px;
    .sli{
        cursor: pointer;
    }
    #prev, #next{
        position: absolute;
        width: 80px;
        text-align: center;
        font-size: 40px;

    }
    #prev{
        left: 0;
        line-height: 790px;
        
    }
    #next{
        right: 0;
        line-height: 790px;
    }

    .background {
        width: 100%;
        height: 790px;
        position: absolute;
    }
    .dialog-search{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index:20;
        display: flex;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: all linear 0.1s;
        &:target{
            visibility: visible;
            opacity: 0.9;
            transform: translateX(0%);
        }
        .overlay-close{
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: default;
        }
        .search-box{
            max-width: 700px;
            position: relative;
            padding: 16px;
            display: flex;
            margin-top: 50px;
            .dialog-close-btn{
                width: 40px;
                height: 40px;
                font-size: 35px;
                position: absolute;
                text-align: center;
                line-height: 40px;
                top: 0;
                right: 0;
                color: #e4e4e4;
            }
            form{
                display: flex;
                margin-top: 50px;
                height: 50px;
                border-radius: 30px;
                &>.form-input-search{
                    width: 90%;
                    opacity: 1;
                    &:focus{
                        outline: none;
                        font-size: 22px;
                    }
                }
                &>.btn-submit-search{
                    width: 10%;
                    background-color: #f87a61;
                    color: #fff;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            }
            
        }
    }
    
    .overlay__detail{
        background-color: #333;
        opacity: 0.8;
    }
    .header {
        position: relative;
        width: 100%;
        // padding : 18px 0;

        .header__nav {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 20px 0;
            align-items: center;
                .nav_bars-btn{
                    font-size: 28px;
                    color: $color-black;
                    display: none;
                    line-height: 56px;
                    cursor: pointer;
                    margin-left: 38px;
                }
                .nav__overlay{
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                    display: none;
                    
                }

                #nav_mobile{
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 350px;
                    background-color: #fff;
                    
                    z-index: 100;
                    transform: translateX(-100%);
                    transition: all  linear 0.2s;
                    opacity: 0;
                    .nav_mobile-list{
                        margin-top: 60px;
                    }
                    .nav_mobile-link{
                        display: block;
                        padding: 16px 0;
                        font-size: 1.4rem;
                        border-bottom: 1px solid rgb(226, 226, 226);
                        &>a{
                            color: #333;
                            text-decoration: none;
                            padding : 0 16px;
                            font-size: 2.5rem;
                            font-family: $font-pop-noSan;
                        }
                        &>i{
                            display: inline-block;
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            float: left;
                            line-height: 30px;
                            margin-left: 30px;
                        }
                    }
                    .nav_mobile-close{
                         font-size: 28px;
                         color: #666;
                         position: absolute;
                         top: 1rem;
                         right: 0;
                        text-align: right;
                        padding: 0 16px;
                        
                    }
                }

                .header__left--logo {
                    width: 385px;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }
                }
                .header__left--menu {
                    ul.menu-list {
                        // width: 450px;
                        display: inline-block;
                        
                        margin-left: 70px;
                        .active {
                            color: #fc846b;
                            transform: 0.5s;
                        }

                        .menu-item {
                            display: inline;
                            padding: 18px 25px;
                            cursor: pointer;
                            font-size: 16px;
                            font-family: $font-pop;

                            & > a {
                                font-size: 18px;
                                color: #2e2e2e;
                                font-weight: bold;
                                font-family: $font-pop;
                                &:hover{
                                    color: #fc846b;
                                    text-decoration: none;
                                    transition:all color 0.2s;
                                }
                                
                            }
                        }
                        .dropdown-2{
                            &:hover > .sub-menu-2{
                                opacity: 1;
                                transform: translateY(25px);
                                visibility: visible;
                                
                            }
                            & > .sub-menu-2{
                                width: 90%;
                                height: 460px;
                                position: absolute;
                                background-color: #fff;
                                left: 5.5%;
                                transform: translateY(70px);
                                z-index: 100;
                                box-shadow: 0px 0px 5px #a3a2a2;
                                transition: all linear 0.3s;
                                visibility: hidden;
                                opacity: 0;
                                &>.categories{
                                    display: flex;
                                    position: absolute;
                                    top: 25px;
                                    left: 35px;
                                    .catgories_col{
                                        &>p{
                                            padding: 2.5px 0;
                                            margin-bottom: 0;
                                        }
                                        &>p>a{
                                            color: #333;
                                            font-size: 12px;
                                            color: #000;
                                            font-family: $font-pop;
                                            
                                            &:hover{
                                                color: #f87a61;
                                            }
                                        }
                                        &>strong>a{
                                            color: #333;
                                            font-size: 14px;
                                            font-family: $font-pop;
                                            &:hover{
                                                color: #f87a61;
                                            }
                                        }
                                    }
                                }
                                &>.bn{
                                    display: flex;
                                    margin-top: 210px;
                                    padding: 0 27px;
                                    &>img{
                                        overflow: scroll;
                                        width: 50%;
                                        padding: 0 10px;
                                        
                                    }
                                }
                                &:hover{
                                    opacity: 1;
                                }
    
                            }
                        } 
                        .dropdown{   
                            position: relative;
                            &:hover > .sub-menu{
                                opacity: 1;
                                pointer-events: all;
                                transform: translateY(30px);
                            }
                            &>.sub-menu{
                                width: 210px;
                                position: absolute;
                                background-color: #fff;
                                z-index: 100;
                                opacity: 0;
                                pointer-events: none;
                                transform: translateY(60px);
                                transition: all 0.5s ease;
                                box-shadow: 0px 0px 5px #a3a2a2;
                                top: 26px;
                                left: 26px;
                                &>.sub-menuItem{
                                    padding : 8px 15px;
                                    height: 50px;
                                    &:hover > a{
                                        color: $color-cam;
                                    }
                                    &>a{
                                        
                                        text-decoration: none;
                                        color: #333;
                                        font-size: 14px;
                                        font-family: $font-pop;
                                    }
                                }

                            
                            }
                            

                        }

                    }
    
                }
            .header__action {
                display: inline-block;
                text-align: right;
                a{
                    display: inline-block;
                    width: 30px;
                    height: 100%;
                    margin-left: 10px;
                    margin-right: 10px;     
                    i {
                        color: #000;
                        cursor: pointer;
                        text-align: center;
                        font-size: 20px;
                        
                    }
                }

            }
        }
        .header__title {
            position: relative;
            margin-top: 210px;
            width: 632px;
            margin-left: 90px;
            .header__title--name {
                width: 100%;
                
                h3 {
                    font-size: 22px;
                    font-family: $font-pop-noSan;
                    color: rgb(46, 46, 46);
                }
            }
            .header__title--slogan {
                width: 80%;

                h2 {
                    font-size: 44px;
                    font-family: $font-playfair-noSan;
                    margin-bottom: 18px;
                    font-weight: 500;
                    color: #f87a61;
                }
            }
            .header__title--des {
                width: 95%;
                font-size: 16px;
                font-family: $font-pop-noSan;
                margin: 10px 0px 20px;
                color: rgb(46, 46, 46);
            }
            .header__title--action {
            }
        }
    }
}
/* End Wrapper*/

/*Begin Section About*/
.cart{
    width: 100%;
    margin: auto;
    height: auto;
}
// bắt đầu dựng content
#cart{
    width: 100%;
    height: auto;
    .content__banner{
        width: 100%;
        height: 175px;
        img{
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: 0% 2%;
            position: absolute;
            
        }
        .banner--underground{
            width: 100%;
            height: 175px;
            background-color: black;
            position: absolute;
            opacity: 0.2;
        }
        .banner--title{
            width: 90%;
            margin: auto;
            height: 50%;
            top:25%;
            position: relative;
            text-align: center;
            h1{
                color: white;
                font-size: 36px;
                font-family: $font-playfair;
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: 15px;
                letter-spacing: 4px;
            }
            a,span{
                text-decoration: none;
                color: $color-white;
                font-size: 16px ;
                font-family: $font-pop;
                font-style: normal;
            }

            a:hover{
                color: $color-cam;
            }
        }
    }
}
.content-main{
    max-width: 1530px;
    width: 90%;
    margin-top: 60px;
    .title{
        padding: 15px;
        background-color: #f5f5f5;
        font-size: 20px;
        font-family: $font-playfair-noSan;
    }
    .cart-product{
        
        .products{
            padding: 30px 0;

            .image{
                position: relative;
                img{
                }
            }


            .product-name{
                font-size: 22px;
                color: $color-cam;
                font-family: $font-playfair;
            }
            p{
                font-size: 16px;
            }
            .product-price{
                font-family: $font-playfair-noSan;
                font-size: 20px;
                margin-bottom: 10px;
            }
/*             .quantity{
                display: flex;
                width: 100px;
                margin-bottom: 15px;
            } */
            .quantity{
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                label{
                    width: 50%;
                    font-size: 16px;
                    font-family: $font-pop;
                    color: black;
                }
                .quan{
                    color: #373737;
                    letter-spacing: 0em;
                    font-family: Poppins;
                    font-weight: normal;
                    line-height: 1.7;
                    -webkit-font-smoothing: antialiased;
                    font-size: 16px;
                    list-style: none;
                    text-align: left;
                    box-sizing: border-box;
                    float: left;
                    width: 55%;
                    
                    .button{
                        color: #373737;
                        letter-spacing: 0em;
                        font-family: Poppins;
                        -webkit-font-smoothing: antialiased;
                        list-style: none;
                        box-sizing: border-box;
                        cursor: pointer;
                        border: 1px solid #e4e4e4;
                        font-size: 20px;
                        font-weight: normal;
                        float: left;
                        text-align: center;
                        margin: auto;
                        padding: 0;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                    }
                    #quantity{
                        list-style: none;
                        box-sizing: border-box;
                        letter-spacing: 0em;
                        font-family: Poppins;
                        font-weight: normal;
                        -webkit-font-smoothing: antialiased;
                        color: #373737;
                        background: none;
                        display: block;
                        outline: none;
                        max-width: 100%;
                        border: none;
                        border-radius: 0px;
                        float: left;
                        text-align: center;
                        margin: auto;
                        padding: 0;
                        height: 35px;
                        line-height: 35px;
                        border-top: 1px solid #e4e4e4;
                        border-bottom: 1px solid #e4e4e4;
                        font-size: 18px;
                        width: 40px;
                    }
                }
            }
            .product-total{
                display: inline;
                float: left ;
                font-size: 16px;
            }
            .product-price-total{
                display: inline;
                font-family: $font-playfair-noSan;
                font-size: 18px;
            }
            .remove{
                width: 30px;
                height: 30px;
                font-size: 30px;
                position: absolute;
                color: #f87a61;

             }
 /*            p.removetocart{
                margin-top: 15px;

            } */
        }
        .action{
            justify-content: space-between;
            margin: 0;
            margin-top: 25px;
            .btn{
                color: $color-cam;
                border-radius: 30px;
                font-size: 18px;
            }
        }
    }
    .checkout{
        .sub-total{
            display: flex;
            justify-content: space-between;
            color: $color-cam;
            font-family: $font-playfair-noSan;
            padding-top: 10px;
            font-size: 18px;
            #total-cart{
                text-align: right;
            }
        }
        #note{
            text-decoration: underline;
            cursor: pointer;
            font-size: 18px;
            &:hover{
                color: $color-cam;
            }
        }
        #des-note{
            height: 150px;
            border-radius: 30px;
            border: .5px solid #dddcdc;
            font-size: 18px;
            &:focus{
                
                outline: none;
            }
        }
        #note2{
            font-style: italic;
            padding: 10px 0;
            font-size: 18px;
        }
        .btn-checkout{
            color: #fc846b;
            border-radius: 30px;
            padding: 5px 0;
            font-size: 18px;
            &:hover{
                color: #fff;
                background-color: $color-cam;
                border:none;
            }
            &:focus{
                border: none;
            }
        }
        .cal-ship{
            margin-top: 70px;
        }
        label{
            margin-top: 33px;
            font-size: 18px;
        }
        .select{
            select{
                font-size: 16px;
                padding: 8px 13px;
                border:1px solid #dddcdc;
                border-radius: 30px;
                font-size: 18px;
            }
            &:focus{
                outline: none;
            }

        }
        input{
            padding: 8px 13px;
            border:1px solid #dddcdc;
            border-radius: 30px;
            &:focus{
                outline: none;
            }
        }
        .btn-calcul-shipping{
            margin-top: 40px;
            color:$color-cam;
            border-radius: 30px;
            font-size: 18px;
            &:hover{
                color: $color-white;
                background-color: $color-cam;
            }
            &:focus{
                border: none;
            }
        }
    }

}

/*End Section About*/

/*Begin Footer*/
.wrapper7{
    width: 100%;
    position: relative;
    height: 536px;
    margin-top: 150px;
    .footer{
        width: 100%;
        height: 536px;
        #note{
            position: absolute;
            width: 100%;
            height: 536px;
            object-fit: cover;
            object-position: 0% 63%;
        }
        
        .opacity{
            position: absolute;
            width: 100%;
            height: 536px;
            background-color: #373737;
            opacity: 0.3;
        }
        .footer__logo{
            position: relative;
            width: 10%;
            margin: auto;
            top:85px;
        }
        .footer--slogan{
            position:relative;
            text-align: center;
            top: 125px;
            color: white;
            font-family: 'Playfair Display', serif;
            h2{
                font-size: 32px;
                font-weight: 500;
            }
        }
        .search{
            position: relative;
            top:170px;
            width: 45%;
            background-color: white;
            margin:auto;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            .input{
                position: relative;
                left: 15px;
                border:0;
                padding: 17px 15px;
                font-size: 1.6rem;
            }
            .input{
                border-color: white;
            }
            .input:focus{
                outline: none;
            }
            .submit{
                position: relative;
                width: 183px; 
                border-radius: 30px;
                background-color: #fc846b;
                color: white;
                border: 0;
                font-weight: 600;
                font-size: 1.6rem;
            }
            .submit:hover{
                background-color: black;
                color:#fc846b;
                transition: transform .5s;
            }
            .submit:focus{
                outline: none;
            }


        }
        .bylogin{
            position: relative;
            width: 90%;
            margin: auto;
            top:200px;
            text-align: center;
            
            i{
                display: inline-block;
                color: #fc846b;
                width: 60px;
                height: 60px;
                font-size: 25px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
            }
            
        }
        .footer-contact{
            position: relative;
            width: 90%;
            margin: auto;
            top:250px;
            text-align: center;
            li{
                color: white;
                display: inline-block;
                width: auto;
                height: auto;
                padding: 5px 15px;
                font-family: 'Poppins', sans-serif;
                font-size: 17px;
                .note2{
                    border-right: 1px;
                    border-left: 1px;
                    border-color: white;
                    border-style: solid;
                }

            }
        }
    }

}
/*End Footer*/


    //Responsive Divide Latop, cac man hinh tu 1200 tro di

    @media (min-width:1599px){

    }
    
    // Responsive Divide Latop, cac man hinh tu 1024px den 1200px
    
    @media (max-width:1200px) and (min-width:1024px){
        .btn{
            padding: 8px;
        }
/*         .wrapper {
            width: 100%;
            .header {
                .header__nav {
                    .header__left--menu{
                        margin-left: -20rem;
                    }
                    .header__action {
                        width: 5%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 4rem;
                        padding-left: 0;
                        .lang-menu{
                            display: none;
                        }
                        img {
                            display: none;
                        }
                        p {
                            display: none;
                        }
                        a{
                            display: block;
                            text-align: center;
                            i {
                                color: #000;
                                cursor: pointer;
                                font-size: 2.2rem;
                                margin: 0 1rem;
                            }
                        }
        
                    }
                }
                .header__title{
                    margin-top: 15rem;
                }
            }
        } */
        .wrapper {
            .header {
                .header__nav {
                    .header__left--menu{
                        margin-left: -20rem;
                    }
                    .header__left--logo img {
                        width: 150px;
                    }
                    .header__action {
                        width: 5%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 4rem;
                        padding-left: 0;
                        .lang-menu{
                            display: none;
                        }
                        #arrow-down{
                            display: none;
                        }
                        img {
                            display: none;
                        }
                        p {
                            display: none;
                        }
                        a{
                            display: block;
                            text-align: center;
                            i {
                                color: #000;
                                cursor: pointer;
                                font-size: 2.2rem;
                                margin: 0 1rem;
                            }
                        }
        
                    }
                }
                .header__title{
                    margin-top: 15rem;
                }
            }
        }
        .content-main .title {
            font-size: 18px;
        }
        .content-main .cart-product .action .btn {
            font-size: 14px;
            padding: 5px 3px;
        }
        .content-main .cart-product .products .product-name {
            font-size: 18px;
        }
        .content-main .cart-product .products p {
            font-size: 15px;
        }
        .content-main .cart-product .products .product-price {
            font-size: 16px;
        }
        .content-main .cart-product .products .quantity {
            margin-bottom: 12px;
        }
        .content-main .checkout .sub-total {
            font-size: 16px;
        }
        .content-main .checkout #note {
            font-size: 16px;
        }
        .content-main .checkout label {
            font-size: 16px;
        }
        .content-main .checkout #des-note {
            height: 120px;
            font-size: 16px;
        }
        .content-main .checkout #note2 {
            font-size: 14px;
        }
        .content-main .checkout .btn-checkout {
            font-size: 14px;
        }
        .content-main .checkout .cal-ship {
            margin-top: 40px;
        }
        .content-main .checkout label {
            font-size: 14px;
        }
        .content-main .checkout .select select {
            font-size: 14px;
        }
        .content-main .checkout label {
            margin-top: 14px;
        }
        .content-main .checkout .btn-calcul-shipping {
            margin-top: 30px;
            font-size: 14px;
        }
        .wrapper7{
            margin-top: 78px;
            .footer .footer__logo{
                width: 15%;
            }
            .input{
                font-size: 1.4rem !important;
            }
            .submit{
                left: 0 !important;
                font-size: 1.4rem !important;
            }
            
            .footer .search{
                width: 63%;
            }
        }
    }
    
    // Responsive Divide Medium Tablet, cac man hinh tu 768px den 1023px
    
    @media (max-width:1023px) and (min-width:768px){
        .btn-shopnow{
            font-size: 14px;
        }
/*         .wrapper{
    
            .header{
                .header__nav{
                        justify-content: space-between;
                    .nav__input:checked ~ .nav__overlay{
                        display: block;
                        opacity: 1;
                    }
                    .nav__input:checked ~ #nav_mobile{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                    .header__left--logo{
                        width: 50%;
                        text-align: center;
                    }
                    .header__left--menu{
                        display: none;
                    }
                    .nav_bars-btn{
                        display: block;
                        width: 25%;
                             
                    }
                    .nav__overlay{
                        animation: fadeIn linear 0.3s;
                    }
    
    
                    .header__action{
                        justify-content: flex-end;
                        width: 25%;
                        #language,#language-text,#arrow-down,#arrow-down{
                            display: none;
                        }
                        #cart{
                            display: inline-block;
                            width: 28px;
                        }
                    }
    
                }
                .lang-menu{
                    display: none;
                }
            }
        } */
        .wrapper{
            .header{
                .header__nav{
                        justify-content: space-between;
                    .nav__input:checked ~ .nav__overlay{
                        display: block;
                    }
                    .nav__input:checked ~ #nav_mobile{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                    #nav_mobile .nav_mobile-link > a {
                            font-size: 1.5rem;
                    }
                    .header__left--logo{
                        width: 150px;
                        text-align: center;
                    }
                    .header__left--menu{
                        display: none;
                    }
                    .nav_bars-btn{
                        display: block;
                        width: 25%;
                             
                    }
                    .nav__overlay{
                        animation: fadeIn linear 0.3s;
                    }
    
    
                    .header__action{
                        justify-content: flex-end;
                        width: 25%;
                        #language,#language-text,#arrow-down,#arrow-down{
                            display: none;
                        }
                        #cart{
                            display: inline-block;
                            width: 28px;
                        }
                    }
    
                }
                .header__title{
                    margin-top: 10rem;
                    width: 65%;
                    margin-left: 7rem;
                    .header__title--name h3{
                        font-size: 1.8rem;
                    }
                    .header__title--slogan h2{
                        font-size: 2.8rem;
                    }
                    .header__title--des{
                        font-size: 1.4rem;
                    }
                    .header__title--action{
                        font-size: 1.8rem;
                    }
    
                }
                .lang-menu{
                    display: none;
                }
            }
        }
        #cart .content__banner .banner--title h1{
            font-size: 3.2rem;
        }
        .row{
            flex-direction: column;
            margin-left: 0px;
        }
        .content-main .cart-product {
            width: 100%;
            max-width: 100%;
            padding : 0;
        }
        .col-md-3 {
            max-width: 50%;
        }
        .content-main .cart-product .action {
            flex-direction: row;
            margin: 30px 0px;
        }
        .checkout{
            max-width: 100%;
        }
        .information{
            margin-top: 30px;
        }
        
        .wrapper7 .footer .footer__logo {
            width: 20%;
        }
        .wrapper7{
            height: 380px;
            margin-top: 40px;
            .footer{
                height: 380px;
                .footer__logo{
                    top: 40px;
    
                }
                .footer--slogan{
                    top: 6rem;
                    h2{
                        font-size: 2.8rem;
                    }
                }
                #note{
                    height: 380px;
                }
                .search{
                    width: 70%;
                    padding: 3px;
                    top:8.5rem;
                }
                .bylogin{
                    top: 11rem;
                }
                .footer-contact{
                    top: 13rem;
                }
                .opacity{
                    height: 380px;
                }
            }
            .input{
                font-size: 1.4rem !important;
            }
            .submit{
                left: 0 !important;
                font-size: 1.4rem !important;
            }
        }
    }
    
    
    //Responsive Divide Small Tablet, cac man hinh tu 600px den 767px
    
    @media (max-width:767px) and (min-width:600px){ 
        .btn-shopnow{
            font-size: 14px;
        }
    
/*         .wrapper{
            .header{
                margin-top: 10px;
                .header__nav{
                        justify-content: space-between;
                        padding: 0 16px;
                    .nav_bars-btn{
                        font-size: 28px;
                        margin: 0;
                    }
                    #nav_mobile{
                        width: 300px;
                    }
                    .header__left--logo{
                        width: 50%;
                        text-align: center;
                    }
                    .header__left--menu{
                        display: none;
                    }
                    .nav_bars-btn{
                        display: block;
                        width: 25%;      
                    }
                    .nav__overlay{
                        animation: fadeIn linear 0.3s;
                    }
    
                    .nav__input:checked ~ .nav__overlay{
                        display: block;
                        opacity: 1;
                    }
                    .nav__input:checked ~ #nav_mobile{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                    .header__action{
                        justify-content: flex-end;
                        width: 25%;
                        #language,#language-text,#arrow-down,#arrow-down{
                            display: none;
                        }
                        #cart{
                            display: inline-block;
                            width: 28px;
                        }
                    }
                }
                .lang-menu{
                    display: none;
                }
            }
        } */
        .wrapper{
            .header{
                margin-top: 10px;
                .header__nav{
                        justify-content: space-between;
                        
                        
                    .nav_bars-btn{
                        font-size: 28px;
                        margin: 0;
                    }
                    #nav_mobile{
                        width: 70%;
                        .nav_mobile-link > a{
                            font-size: 1.4rem;
                        }
                    }
                    .header__left--logo{
                        width: 150px;
                        text-align: center;
                    }
                    .header__left--menu{
                        display: none;
                    }
                    .nav_bars-btn{
                        display: block;
                        width: 25%;      
                    }
                    .nav__overlay{
                        animation: fadeIn linear 0.3s;
                    }
    
                    .nav__input:checked ~ .nav__overlay{
                        display: block;
                    }
                    .nav__input:checked ~ #nav_mobile{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                    .header__action{
                        width: 25%;
                        margin-right: -20px;
                        #language,#language-text,#arrow-down,#arrow-down{
                            display: none;
                        }
                        #cart{
                            display: inline-block;
                            width: 28px;
                            &>a{
                                margin: 0;
                            }
                        }
                    }
                }
                .header__title{
                    width: 80%;
                    margin: auto;
                    margin-top: 16rem;
                    text-align: center;
                    .header__title--name h3{
                        font-size: 1.8rem;
                    }
                    .header__title--slogan {
                        margin: auto;
                        h2{
                            font-size: 2rem;
                        }
                        
                    }
                    .header__title--des{
                        font-size: 1.4rem;
                    }
                    .header__title--action button{
                        font-size: 1.6rem;
                        
                    }
                }
                .lang-menu{
                    display: none;
                }
            }
        }
        #cart{
            margin-top: 20px;
        }
        
        #cart .content__banner .banner--title h1{
            font-size: 3.2rem;
        }
        .content-main .cart-product .products .product-name {
            margin-top: 20px;
        }
        .content-main .cart-product .action {
            margin: 30px 0;
        }
        .wrapper7{
            margin-top: 105px;
            height: 360px;
            .footer{
                height: 360px;
                #note{
                    height: 360px;
                }
                img{
                    
                    object-position: 29% 0 !important;
                }
                .opacity{
                    width: 100%;
                    height: 360px;
                }
                .footer__logo {
                    width: 130px;
                    margin: auto;
                    top: 23px;
                }
                .footer--slogan{
                    top: 45px;
                    h2{
                        font-size: 2.8rem;
                    }
                }
                .search{
                    top: 72px;
                    width: 70%;
                    .input{
                        width: 300px;
                        font-size: 1.4rem;
                        padding: 9px 15px;
                        &:focus{
                            outline: none;
                        }
                    }
                    .submit{
                        width: 150px;
                        left: 0;
                        font-size: 1.4rem;
                    }
                }
                .bylogin{
                    top: 80px;
                }
                .footer-contact{
                    top:95px;
                    li{
                        font-size: 12px;
                    }
                }
    
            }
        }
    }
    
    // Responsive Divide Mobie, cac man hinh duoi 600px
    
    @media (max-width:599px){
        .btn-shopnow{
            font-size: 14px;
        }
        #cart{
            margin-top: 20px;
        }
/*         .wrapper{
            .header{
                margin-top: 10px;
                .header__nav{
                        justify-content: space-between;
                        padding: 0 16px;
                    .nav_bars-btn{
                        font-size: 28px;
                        margin: 0;
                    }
                    #nav_mobile{
                        width: 200px;
                        .nav_mobile-link > a{
                            font-size: 1.4rem;
                        }
                    }
                    .header__left--logo{
                        width: 50%;
                        text-align: center;
                    }
                    .header__left--menu{
                        display: none;
                    }
                    .nav_bars-btn{
                        display: block;
                        width: 25%;      
                    }
                    .nav__overlay{
                        animation: fadeIn linear 0.3s;
                    }
    
                    .nav__input:checked ~ .nav__overlay{
                        opacity: 1;
                        display: block;
                    }
                    .nav__input:checked ~ #nav_mobile{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                    .header__action{
                        justify-content: flex-end;
                        width: 25%;
                        padding-left: 0;
                        #language,#language-text,#arrow-down,#arrow-down{
                            display: none;
                        }
                        #cart{
                            display: inline-block;
                            width: 28px;
                        }
                    }
                }
                .header__title{
                    width: 80%;
                    margin: auto;
                    margin-top: 16rem;
                    text-align: center;
                    .header__title--name h3{
                        font-size: 1.8rem;
                    }
                    .header__title--slogan {
                        margin: auto;
                        h2{
                            font-size: 2rem;
                        }
                        
                    }
                    .header__title--des{
                        font-size: 1.4rem;
                    }
                    .header__title--action button{
                        font-size: 1.6rem;
                        
                    }
    
                }
                .lang-menu{
                    display: none;
                }
            }
        } */
        .wrapper{
            .dialog-search .search-box .form{
                height: 34px;
            }
            .header{
                margin-top: 10px;
                .header__nav{
                        width: 100%;
                        justify-content: space-around;
                        padding: 0 16px;
                    .nav_bars-btn{
                        font-size: 28px;
                        margin: 0;
                    }
                    #nav_mobile{
                        width: 70%;
                        .nav_mobile-link > a{
                            font-size: 1.4rem;
                        }
                    }
                    .header__left--logo{
                        width: 150px;
                        text-align: center;
                    }
                    .header__left--menu{
                        display: none;
                    }
                    .nav_bars-btn{
                        display: block;
                        width: 25%;      
                    }
                    .nav__overlay{
                        animation: fadeIn linear 0.3s;
                    }
    
                    .nav__input:checked ~ .nav__overlay{
                        display: block;
                    }
                    .nav__input:checked ~ #nav_mobile{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                    .header__action{
    /*                     justify-content: flex-end;*/
                        width: 25%; 
                        padding-left: 0;
                        // margin-right: -9px;
                        #language,#language-text,#arrow-down,#arrow-down{
                            display: none;
                        }
                        #cart-btn{
                            display: none;
    /*                         width: 28px;
                            margin: 0; */
                        }
                        #search-btn{
                            margin: 0;
                        }
                    }
                }
                .header__title{
                    width: 80%;
                    margin: auto;
                    margin-top: 16rem;
                    text-align: center;
                    .header__title--name h3{
                        font-size: 1.8rem;
                    }
                    .header__title--slogan {
                        margin: auto;
                        h2{
                            font-size: 2rem;
                        }
                        
                    }
                    .header__title--des{
                        font-size: 1.4rem;
                    }
                    .header__title--action button{
                        font-size: 1.6rem;
                        
                    }
    
                }
                .lang-menu{
                    display: none;
                }
            }
        }
        #cart .content__banner .banner--title h1 {
            font-size: 24px;
        }
        .content-main {
            margin-top: 30px;
        }
        .row {
            margin-left: 0px;
        }
        .cart-product{
            max-width: 100%;
            padding: 0;
        }
        .image{
            padding: 0;
        }
        .content-main .cart-product .products .product-name {
            font-size: 18px;
            margin-top: 30px;
        }
        .content-main .cart-product .action .btn {
            margin: 10px 0;
        }
        .checkout{
            margin-top: 30px;
            padding: 0;
        }
        .content-main .checkout #note2 {
            font-size: 14px;
        }
        .content-main .checkout label {
            font-size: 15px;
        }
        .content-main .checkout .select select {
            font-size: 15px;
        }

        .wrapper7{
            margin-top: 7rem;
            height: 360px;
            .footer{
                height: 360px;
                #note{
                    height: 360px;
                }
                img{
                    
                    object-position: 29% 0 ;
                }
                .opacity{
                    width: 100%;
                    height: 360px;
                }
                .footer__logo {
                    width: 10rem;
                    margin: auto;
                    top: 2.3rem;
                }
                .footer--slogan{
                    top: 4.5rem;
                    &>h2{
                        font-size: 2rem;
                    }
                }
                .search{
                    top: 72px;
                    width: 90%;
                    .input{
                        width: 60%;
                        font-size: 1.2rem;
                        padding: 8px 15px;
                        &:focus{
                            outline: none;
                        }
                    }
                    .submit{
                        width: 40%;
                        font-size: 1.2rem;
                        left: 0;
                    }
                }
                .bylogin{
                    top: 80px;
                }
                .footer-contact{
                    top:95px;
                    li{
                        font-size: 10px;
                    }
                }
    
            }
        }
        .wrapper7 .footer .footer-contact {
            top: 140px;
        }
        .wrapper7 .footer .bylogin {
            top: 130px;
        }
        .wrapper7 .footer .search {
            top: 100px;
        }
        .wrapper7 .footer .footer--slogan {
            top: 7.5rem;
        }
        .wrapper7 .footer .footer--slogan h2{
           font-size: 1.8rem;
        }
        .wrapper7 .footer .footer__logo {
            top: 4.3rem;
        }
    }
    @media (min-width:410px) and (max-width:417px){
        .content-main .form-login {
            width: 121%;
            margin: auto;
            margin-left: -35px;
        }
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }